* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 98, 128);
}

.hide {
    display: none;
}

/* Banner image */
#banner {
    background-image: url("../images/bowie-banner.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 20px;
    left: 0;
    padding-top: 20px;
  }

.question-card, .welcome-card {
    width: 850px;
    max-width: 80%;
    padding: 15px;
    background-color: rgb(255, 190, 179);
    border-radius: 10px;
    box-shadow: 0 0 10px 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.answer-box {
    display: block;
}

#startButton, #submit-btn {
    font-size: 1.5rem;
    padding: 5px;
} 

/* to hide welcome screen */
.hide {
    display: none;
}